/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h5{
    border-style: dotted;
    color:rgb(248, 164, 192);
    /* background-color: #E8D8EE;  */
    /* font-family: "Raleway";
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
p{
    border-style: dotted;
    font-family:"Raleway";
    font-size: 30px; */
    /* text-shadow:2px 3px 3px; */
    /* padding: 10px */
/* }
body{
    margin: 50px;
}
li{
    font-family:"Raleway";
    font-size:15px;
} */