<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Donation Center</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link href="static/css/style.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <h1>Welcome to the Donation Center!</h1>
    <h2>A universal hub for giving</h2>
    <h3>
            Please enter your zip code below to be connected with donation centers near you
            <br>
            <br>
            <div class="content-section-a">
                <form method="post" action="/results">
                <input type="number" name="zipcode" placeholder="Enter your zip code" />
                <input type="submit" value="Submit" />    
                </form>
            </div>
        <br>
        <br>
        About Us!
            <br>
            <br>
            <p>
            The Donation Center, created by Jada and Youshra, is designed to connect people with local centers that are accepting food, clothes, feminine hygiene products, books, blood, and even your time.
            </p>
            <p>Learn more about why you should donate things <a href="https://5000-7b7ed22b-945e-481c-ab30-4d7879b683ae.cs-us-east1-pkhd.cloudshell.dev/why">here!</a></p>
            <br>
            Established July 2021
    </h3>
</body>

</html>

