<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link href="static/css/style.css" rel="stylesheet">

<title>Coming Soon!</title>
<style>

    h2{
        text-align: center;
        color:  rgb(145, 251, 154);
        font: "Quicksand"
    }
</style>
</head>

<body>
    <h2>Donation centers near you coming soon!</h2>
    <img src="../static/images/coming.png" style="width:100%"; height="50%">
</body>
